.flashcard-modal {
	white-space: pre-wrap;
}

.flashcard-container {
	overflow: auto;
	max-width: 80ch;
	position: relative;
}

.flashcard {
	position: relative;
	height: 15em;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: transform 0.1s ease;
	perspective: 1000px;
	border-radius: 10px;
}

.flashcard.flipped {
	transform: rotateY(180deg);
}

.flashcard__front,
.flashcard__back {
	position: absolute;
	inset: 0;
	padding: 1.5em;
	backface-visibility: hidden;
	transition: transform 0.1s ease;
}

/* We're turning the card 180deg on the Y axis, flipping the back side over by default. */
.flashcard__back {
	transform: rotateY(180deg);
}
